<header>
  <div class="container">
    Fixed header
  </div>
</header>
<main>
  <div class="container">
    <h1>
      Heading 1
    </h1>
    <h2>
      Heading 2
    </h2>
    <h3>
      Heading 3
    </h3>
    <h4>
      Heading 4
    </h4>
    <h5>
      Heading 5
    </h5>
    <h6>
      Heading 6
    </h6>
    <p>
      The <code>&lt;p&gt;</code> tag defines a paragraph.
    </p>
    <p>
      Browsers automatically add some space (margin) before and after each <code>&lt;p&gt;</code> element. The margins can be modified with CSS (with the margin properties).
    </p>
    <p>
      The <code>&lt;main&gt;</code> tag specifies the main content of a document.
    </p>
    <p>
      The content inside the <code>&lt;main&gt;</code> element should be unique to the document. It should not contain any content that is repeated across documents such as sidebars, navigation links, copyright information, site logos, and search forms.
    </p>
    <p>
      The <code>&lt;header&gt;</code> element represents a container for introductory content or a set of navigational links.
    </p>
    <p>
      A <code>&lt;header&gt;</code> element typically contains:
    </p>
    <ul>
      <li>
        one or more heading elements (<code>&lt;h1&gt; - &lt;h6&gt;</code>)
      </li>
      <li>
        logo or icon
      </li>
      <li>
        authorship information
      </li>
    </ul>
    <p>
      You can have several <code>&lt;header&gt;</code> elements in one document.
    </p>
    <p>
      <b>Note:</b> A <code>&lt;header&gt;</code> tag cannot be placed within a <code>&lt;footer&gt;</code>, <code>&lt;address&gt;</code> or another <code>&lt;header&gt;</code> element.
    </p>
  </div>
</main>
<footer>
  <div class="container">
    Fixed footer
  </div>
</footer>
